ID="$ID"
PALN="$PALN"
ALIGN_FASTA="$ALIGN_FASTA"
ALIGN_GENOTYPE="$ALIGN_GENOTYPE"
MISC_TARGETS="$MISC_TARGETS"
MISC_VIRUSFASTA="$MISC_VIRUSFASTA"
MISC_VIRMERARGS="$MISC_VIRMERARGS"
MISC_QCMETRICS=$MISC_QCMETRICS
MISC_GENOTYPE=$MISC_GENOTYPE
MISC_COVMETRICS=$MISC_COVMETRICS
MISC_COVPERBASE=$MISC_COVPERBASE
MISC_VIRMER=$MISC_VIRMER
MISC_MERGE=$MISC_MERGE
