ID="$ID"
ALNT="$ALNT"
ALNN="$ALNN"
ALIGN_FASTA="$ALIGN_FASTA"
ALIGN_INDEL="$ALIGN_INDEL"
SOMATIC_TNSCOPEARGS="$SOMATIC_TNSCOPEARGS"
SOMATIC_TINSCOPEARGS="$SOMATIC_TINSCOPEARGS"
SOMATIC_DNASCOPEARGS="$SOMATIC_DNASCOPEARGS"
SOMATIC_DBSNP="$SOMATIC_DBSNP"
SOMATIC_REALIGN=$SOMATIC_REALIGN
SOMATIC_TNSCOPE=$SOMATIC_TNSCOPE
SOMATIC_TINSCOPE=$SOMATIC_TINSCOPE
SOMATIC_DNASCOPE=$SOMATIC_DNASCOPE
SOMATIC_GERMLINEDB=$SOMATIC_GERMLINEDB
