ID="$ID"
ALNT="$ALNT"
ALNN="$ALNN"
ALIGN_FASTA="$ALIGN_FASTA"
ALIGN_INDEX="$ALIGN_INDEX"
STRUCTURAL_DEBUG=$STRUCTURAL_DEBUG
STRUCTURAL_TNSCOPE=$STRUCTURAL_TNSCOPE
STRUCTURAL_TNSCOPEARGS="$STRUCTURAL_TNSCOPEARGS"
STRUCTURAL_MANTA=$STRUCTURAL_MANTA
STRUCTURAL_MANTAARGS="$STRUCTURAL_MANTAARGS"
STRUCTURAL_SVABA=$STRUCTURAL_SVABA
STRUCTURAL_SVABAARGS="$STRUCTURAL_SVABAARGS"
STRUCTURAL_GRIDSS=$STRUCTURAL_GRIDSS
STRUCTURAL_GRIDSSARGS="$STRUCTURAL_GRIDSSARGS"
STRUCTURAL_GRIPSSARGS="$STRUCTURAL_GRIPSSARGS"
