ID="$ID"
ALNT="$ALNT"
ALNN="$ALNN"
TVAR="$TVAR"
GVAR="$GVAR"
CNVX="$CNVX"
CNVSEX="$CNVSEX"
ALIGN_FASTA="$ALIGN_FASTA"
CNVEX_ASSEMBLY="$CNVEX_ASSEMBLY"
CNVEX_SETTINGS="$CNVEX_SETTINGS"
CNVEX_CAPTURE="$CNVEX_CAPTURE"
CNVEX_POOL="$CNVEX_POOL"
CNVEX_POPAF="$CNVEX_POPAF"
CNVEX_PROCESS=$CNVEX_PROCESS
CNVEX_SOMATIC=$CNVEX_SOMATIC
CNVEX_SOMATICSEARCH="$CNVEX_SOMATICSEARCH"
CNVEX_SOMATICPICK="$CNVEX_SOMATICPICK"
CNVEX_SOMATICPLOT="$CNVEX_SOMATICPLOT"
CNVEX_GERMLINE=$CNVEX_GERMLINE
CNVEX_GERMLINESEARCH="$CNVEX_GERMLINESEARCH"
CNVEX_GERMLINEPICK="$CNVEX_GERMLINEPICK"
CNVEX_GERMLINEPLOT="$CNVEX_GERMLINEPLOT"
