ID="$ID"
CASE="$CASE"
COHORT="$COHORT"
CARAT_ANNO="$CARAT_ANNO"
CORDS_MISC_TUMOR="$CORDS_MISC_TUMOR"
CORDS_MISC_NORMAL="$CORDS_MISC_NORMAL"
CORDS_CNVEX="$CORDS_CNVEX"
CRISP_QUASR_TUMOR="$CRISP_QUASR_TUMOR"
CRISP_QUASR_NORMAL="$CRISP_QUASR_NORMAL"
CRISP_CODAC="$CRISP_CODAC"
VAULT_GENEGTF="$VAULT_GENEGTF"
VAULT_HOMOPOLYMERS="$VAULT_HOMOPOLYMERS"
VAULT_TARGETS="$VAULT_TARGETS"
VAULT_SETTINGS="$VAULT_SETTINGS"
VAULT_DUMP=$VAULT_DUMP
