ID="$ID"
TSAMPLE="$TSAMPLE"
ALNT="$ALNT"
ALIGN_FASTA="$ALIGN_FASTA"
ALIGN_DBSNP="$ALIGN_DBSNP"
ALIGN_INDEL="$ALIGN_INDEL"
GERMLINE_DNASCOPEARGS="$GERMLINE_DNASCOPEARGS"
GERMLINE_DBSNP="$GERMLINE_DBSNP"
GERMLINE_DNASCOPE=$GERMLINE_DNASCOPE
