ID="$ID"
ALN="$ALN"
ALIGN_FASTA="$ALIGN_FASTA"
QUASR_COUNTGTF="$QUASR_COUNTGTF"
QUASR_COUNTARGS="$QUASR_COUNTARGS"
QUASR_MIXCRARGS="$QUASR_MIXCRARGS"
QUASR_KEEP=$QUASR_KEEP
QUASR_COUNT=$QUASR_COUNT
QUASR_MIXCR=$QUASR_MIXCR
