ID="$ID"
ALN="$ALN"
SEX="$SEX"
ALIGN_FASTA="$ALIGN_FASTA"
ALIGN_INDEL="$ALIGN_INDEL"
GERMLINE_DNASCOPEARGS="$GERMLINE_DNASCOPEARGS"
GERMLINE_DBSNP="$GERMLINE_DBSNP"
GERMLINE_SEXSNP="$GERMLINE_SEXSNP"
GERMLINE_INTERVALS="$GERMLINE_INTERVALS"
GERMLINE_REALIGN=$GERMLINE_REALIGN
GERMLINE_DNASCOPE=$GERMLINE_DNASCOPE
