ID="$ID"
SAMPLE="$SAMPLE"
FQ1S="$FQ1S"
FQ2S="$FQ2S"
ALIGN_BWA="$ALIGN_BWA"
ALIGN_UMI="$ALIGN_UMI"
ALIGN_FASTA="$ALIGN_FASTA"
ALIGN_INDEX="$ALIGN_INDEX"
ALIGN_DBSNP="$ALIGN_DBSNP"
ALIGN_INDEL="$ALIGN_INDEL"
ALIGN_TRIM="$ALIGN_TRIM"
ALIGN_GENOTYPE="$ALIGN_GENOTYPE"
