ID="$ID"
SOMATIC="$SOMATIC"
STRUCTURAL="$STRUCTURAL"
ANNO_ASSEMBLY="$ANNO_ASSEMBLY"
ANNO_REGIONS="$ANNO_REGIONS"
ANNO_VEPREFS="$ANNO_VEPREFS"
ANNO_VEPARGS="$ANNO_VEPARGS"
ANNO_CONFIG="$ANNO_CONFIG"
ANNO_REPORTARGS="$ANNO_REPORTARGS"
ANNO_FILTERSOMATIC="$ANNO_FILTERSOMATIC"
ANNO_FILTERGERMLINE="$ANNO_FILTERGERMLINE"
